$background: rgb(133, 196, 238);
body {
font: 40px "Century Gothic", Futura, sans-serif;
margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.mineSweeper {
  text-align: center;
}

.boardBackground {
  border: 8px #6f6a6a groove;
  width: fit-content;
  border-radius: 3%;
  margin: auto;
}

.board-row:after {
clear: both;
content: "";
display: table;
}

.status {
margin-bottom: 10px;
}

.square {
background: $background;
border: 1px solid darken($background, 30%);
float: left;
font-size: 24px;
font-weight: bold;
line-height: 34px;
height: 34px;
margin-right: -1px;
margin-top: -1px;
padding: 0;
text-align: center;
width: 34px;
  :focus {
   outline: none;
  }
  &.clicked {
    background: darken($background, 15%);
  }
}

.kbd-navigation .square:focus {
background: #ddd;
}

.game {
display: flex;
flex-direction: row;
}

.game-info {
margin-left: 20px;
}
